<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>

    <!-- Multiple site-languages-->
    <link rel="alternate" hreflang="en"
          href="https://www.davidrguther.eu/" />
    <link rel="alternate" hreflang="de"
          href="https://www.davidrguther.eu/de/" />
    <link rel="alternate" hreflang="x-default"
          href="https://www.davidrguther.eu/" />

    <!--Tailwind elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['Inter', 'sans-serif'],
            },
          }
        }
      }
    </script>

    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body class="dark:bg-black">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  </body>
</html>