@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
.lightgray-bg {background: #eeeeee; }

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/*Social Icons */
.wrapper .icon{
  position: relative;
  color: white;
  background-color: black;
  border-radius: 50%;
  margin: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
}
.wrapper .icon:hover{
  opacity: 1.0;
}
/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
