@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

/*Your Custom CSS Goes here*/
.h-128{
  height: 34rem;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/*Logo CSS*/
.darkLogo{
  fill: var(--dark-color);
  stroke: var(--dark-color);
  dar
}

.lightLogo{
  fill: var(--light-color);
  stroke: var(--light-color);
}

/*Social Icons */
.icon:hover{
  @apply text-gray-700;
}

/*Aboutme boxes*/
.leftBox{
  float: left;
  width: 75%;
  overflow: hidden;
}
.rightPBox{
  float: right;
  width: 25%;
  overflow: hidden;
}
/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
