<footer class="bg-gray-200 dark:bg-gray-700 flex flex-wrap justify-center relative w-full py-4">
    <div class="container text-center">
        <small class="text-gray-500">Copyright © 2022
            {{settings.name}}
        </small>
    </div>
    <div class="container clear-both md:clear-none md:absolute md:right-6">
        <a href="https://www.davidrguther.eu/select-language/">
            <small class="text-gray-500 text-right hover:underline">Change language</small>
        </a>
    </div>
</footer>
