<footer class="bg-gray-200 dark:bg-gray-700 w-full py-4 px-4">
    <div class="container w-full max-w-4xl">
        <div class="container flex flex-wrap-reverse md:flex-no-wrap">
            <div class="container flex-none text-center md:w-1/2">
                <div class="container grid justify-items-start w-full">
                    <small class="text-gray-500">Copyright © 2022
            {{settings.name}}
        </small>
                </div>
            </div>
            <div class="container flex-none text-center md:w-1/2">
                <div class="container grid justify-items-end w-full">
                    <div class="container">
                        <a href="https://www.davidrguther.eu/select-language/">
                            <small class="text-gray-500 hover:underline">Change language</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>